<div fxLayout="row" fxLayoutAlign="center center">

  <div class="welcomePage" fxLayout="column" fxLayoutAlign="space-around center">
    <div style="margin-top:50px">
      <img width="128px" src="../assets/appIcon1.png"/>
    </div>
    <div>
      <form fxLayout="column" fxLayoutAlign="space-between center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div style="width:300px; margin-bottom: 20px;" fxLayout="column" fxLayoutAlign="space-between start">

          <div *ngIf="emailError" style="width:100%" fxLayout="column" fxLayoutAlign="start end">
            <div class = "errorBox">
              Email is required!
            </div>
            <div class ="triangleDown">
            </div>
          </div>

          <div *ngIf="emailFormat" style="width:100%" fxLayout="column" fxLayoutAlign="start end">
            <div class = "errorBox">
              This is not an email address!
            </div>
            <div class ="triangleDown">
            </div>
          </div>

          <input [ngStyle]="{'border': emailError || emailFormat ? '1px solid #c1272d' : null }" class="formItem" placeholder="  Email"
                 type="text" formControlName="email" required>
        </div>

        <div style="width:300px" fxLayout="column" fxLayoutAlign="space-between center">
          <input [ngStyle]="{'border': passwordError ? '1px solid #c1272d' : null }" placeholder="  Password" class="formItem" type="password" formControlName="password" required>

          <div *ngIf="passwordError" style="width:100%" fxLayout="column" fxLayoutAlign="start end">
            <div class ="triangleUp">
            </div>
            <div class = "errorBox">
              Password is required
            </div>
          </div>
        </div>

        <button style="margin-top: 10px; background-color: transparent; border: 0px;">
          <div class="submitButton">Sign in</div>
        </button>

      </form>

    </div>

    <div fxLayout="column" fxLayoutAlign="space-around center">
      <div class="registerQuestion">Not registered yet?
      </div>
      <div class="signUpButton">Sign up</div>
    </div>
  </div>
</div>
