<div fxLayout="row" fxLayoutAlign="center center">

  <div class = "welcomePage" fxLayout="column" fxLayoutAlign="space-around center">
    <div>
      <img width="128px" src="../assets/appIcon1.png"/>
    </div>
    <div>
      <a  routerLink="login" class="nav-link" style = "font-size:48px; cursor:pointer">Start</a>
    </div>
  </div>
</div>
