/* You can add global styles to this file, and also import other style files */
body{
  font-family: "Roboto";
  font-weight: lighter;
}

.welcomePage{
  height: 800px;

}

.submitButton {
  color: #f15a24;
  font-size:35px;
  cursor: pointer;
  font-weight: lighter;
}

.formItem{
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #c3c3c3;
}

.signUpButton{
  color: #f15a24;
  font-size:28px;
  cursor: pointer;
  font-weight: lighter;
}

.registerQuestion{
  color: #4d4d4d;
  font-size:25px;
  font-weight: lighter;
}

.triangleDown{
  margin-right: 20px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 25px solid #c1272d;
}

.triangleUp{
  margin-right: 20px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom:25px solid #c1272d;
}

.errorBox{
  width: 250px;
  height:35px;
  background-color: #c1272d;
  color: white;
  border-radius:10px;
  padding-left: 8px;
  padding-top: 3px;
}
