<div fxLayout="column" fxLayoutAlign="center center">
  <div style="margin-top: 50px;" fxLayout="row" fxLayoutAlign="space-around center">
    <input style="width:400px" placeholder="You can search frameworks etc angular, react..." #search/>
    <img (click)="searchValue()" style="margin-left: 5px; cursor:pointer" width="32px" src="../assets/search.png"/>
  </div>

  <dx-data-grid
    style="margin-top: 15px; margin-left: 10px; margin-right:10px; margin-bottom:10px;"
    #gridContainer
    id="gridContainer"
    [dataSource]="datas"
    [columns]="['name', 'latest']"
    [showBorders]="true">
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[ 10, 20, 50, 100]"
      [showInfo]="true">
    </dxo-pager>
  </dx-data-grid>
</div>
